<!doctype html>
<html lang="en">
<head>
    <title>Blog app</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<div class="container col-md-3">

    <form action="{{ url_for('login') }}" method=post>
        {% for field in form %}
        <div class="form-group">
            {{ field.label(class='control-label') }}
            {{ field(class='form-control') }}
        </div>
        {% endfor %}
        <!--<h2 class="form-signin-heading">Please sign in</h2>-->
        <!--<label for="inputEmail" class="sr-only">Email address</label>-->
        <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
        <!--<label for="inputPassword" class="sr-only">Password</label>-->
        <!--<input name="pass" type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
        <!--<div class="checkbox">-->
        <!--<label>-->
        <!--<input type="checkbox" value="remember-me"> Remember me-->
        <!--</label>-->
        <!--</div>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>