{% extends 'base.html' %}
{% block content %}
<div class="container col-md-3">
    <form action="{{ url_for('login') }}" method=post>
        {% for field in form %}
        <div class="form-group">
            {{ field.label(class='control-label') }}
            {{ field(class='form-control') }}
        </div>
        {% endfor %}
        <button formaction="{{ url_for('register')}}" class="btn btn-outline-success my-2 my-sm-0 btn-block">Register
        </button>
        <button class="btn btn-outline-success my-2 btn-block">Sign in</button>
    </form>
</div>
{% endblock %}