{% extends 'base.html' %}
{% block content %}
<div class="container col-md-offset-3 col-md-5">
    <h2>Register form</h2>
    <form action="{{ url_for('register') }}" method=post>
        {% for error in form.errors.email %}
        <div class="alert alert-warning" role="alert">
            {{error}}
        </div>
        {% endfor %}
        {% for field in form %}
        <div class="form-group">
            {{ field(class='form-control') }}
        </div>
        {% endfor %}
        {% for error in form.errors.password %}
        <div class="alert alert-warning" role="alert">
            {{error}}
        </div>
        {% endfor %}
        <button class="btn btn-outline-success my-2 my-sm-0 btn-block">Register</button>
    </form>
</div>
{% endblock%}